@page "/profile/profile"
@*@inject SessionState.States States*@


<PageTitle>Profile</PageTitle>

<h1 class="page-header">Settings</h1>
<div class="container-fluid">

    <hr />
    <div class="row m-auto">
        <div class="col g-0 square-1">
            <h4>Your profile</h4>
        </div>
        <div class="col g-0 square-2">
        </div>
        <div class="col g-0 square-3">
        </div>
    </div>
    <br />
    <div class="row m-auto">
        <div class="col g-0 square-1">
            <label>UserID</label>
            <SfTextBox Enabled="false" Value="@CascadingSessionState.SessionState.UserId.ToString()"></SfTextBox>
        </div>
        <div class="col g-0 square-2">
            
        </div>
        <div class="col g-0 square-3">
        </div>
    </div>
    <br />
    <div class="row m-auto">
        <div class="col g-0 square-1">
            <label>Username</label>
            <SfTextBox Enabled="false" Value="@CascadingSessionState.SessionState.UserName"></SfTextBox>
        </div>
        <div class="col g-0 square-2">
        </div>
        <div class="col g-0 square-3">
        </div>
    </div>
    <br />
    <div class="row m-auto">
        <div class="col g-0 square-1">
            <label>You are member of the following groups</label>
        </div>
        <div class="col g-0 square-2">
            <SfListBox TValue="string[]" DataSource="@Groups" TItem="Group" Enabled="false">
                <ListBoxFieldSettings Text="Text" Value="Id" />
            </SfListBox>
        </div>
        <div class="col g-0 square-3">
        </div>
    </div>
    <hr />
    <div class="row m-auto">
        <div class="col g-0 square-1">
            <h4>Settings</h4>
        </div>
        <div class="col g-0 square-2">
        </div>
        <div class="col g-0 square-3">
        </div>
    </div>
    <br />
    <div class="row m-auto">
        <div class="col g-0 square-1">
            <label>Default language</label>
            <SfComboBox TValue="string" TItem="Language" Placeholder="Choose..." DataSource="@Languages" @bind-Value="@ComboLanguage">
                <ComboBoxEvents TItem="Language" TValue="string" ValueChange="@ValueChangeHandler" Created="@CreatedHandler"></ComboBoxEvents>
                <ComboBoxFieldSettings Text="Name" Value="Code"></ComboBoxFieldSettings>
            </SfComboBox>
        </div>
        <div class="col g-0 square-2">
        </div>
        <div class="col g-0 square-3">
        </div>
    </div>
    <hr />
    <br />

</div>


@code {
    [CascadingParameter]
    CascadingSessionState CascadingSessionState { get; set; }

    public string ComboLanguage = "";

    public class Language
    {
        public string? Name { get; set; }

        public string? Code { get; set; }
    }

    public class Group
    {
        public string? Text { get; set; }
        public string? Id { get; set; }
    }

    List<Language> Languages = new List<Language>
    {
        new Language() { Name = "English", Code = "English" },
        new Language() { Name = "Danish", Code = "Danish" },
        new Language() { Name = "Swedish", Code = "Swedish" },
        new Language() { Name = "Norwegian", Code = "Norwegian" },
    };

    public List<Group> Groups = new List<Group> {
        new Group { Text = "External users", Id = "ExternalUsers" },
        new Group { Text = "Internal users", Id = "InternalUsers" },
        new Group { Text = "Admin", Id = "Admin" }
    };

    private void ValueChangeHandler(ChangeEventArgs<string, Language> args)
    {
        CascadingSessionState.StateManager.SetCurrentLanguage(ComboLanguage);
    }

    private void CreatedHandler(Object args)
    {
        ComboLanguage = CascadingSessionState.SessionState.Language;
    }
}